<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- namespace:该mapper.xml映射文件的 唯一标识 -->
<mapper namespace="com.zwj.mapper.ContentMapper">

    <select id="queryContentById" parameterType="java.lang.Integer" resultType="com.zwj.entity.Content">
        select * from contents where content_id = #{content_id}
    </select>


    <insert id="addContentReturnId" useGeneratedKeys="true" keyProperty="content_id" keyColumn="content_id" parameterType="com.zwj.entity.Content">
        insert into contents (content,content_type,file_name,file_size) values (#{content},#{content_type},#{file_name},#{file_size})
    </insert>


    <delete id="deleteContent" parameterType="java.lang.Integer">
        delete from contents where content_id in (select content_id from group_chat_send_msgs where ug_id = #{ug_id})
    </delete>

</mapper>